#fdiv {

    border: 2px solid gray;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

#myname {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
   
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#htwo {


    font-size: 18px;



}



#btnone  {

    background-color: rgba(219, 215, 215, 0.596);
    padding-left: 10px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;

}


#sdiv {


    border: 2px solid gray;
    width: 1300px;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;

    margin-top: 10px;
    


}


#imgone {

    width: 220px;
    height: 180px;



}